[Unit]
Description=DynIPt server
After=network.target

[Service]
Type=forking

User=dynipt
Group=dynipt

ExecStart=/opt/dynipt-server/sh/start.sh
ExecStop=/opt/dynipt-server/sh/stop.sh
KillMode=mixed

[Install]
WantedBy=multi-user.target
